@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

:root {
  --background: #161316;
  --accent: #ffbbaa;
  --text: #ffffff;
  --grey: dimgrey;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--accent);
  text-decoration: none;
}

#header {
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  background-color: var(--background);
  padding: 0 5vw;
  padding-top: 5vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  height: 2rem;
  content: url('assets/brand.svg');
  margin-left: 0.5em;
}

#navbar a {
  color: var(--text);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 1rem;
}

.container {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* startpage */
#get #download {
  display: flex;
  justify-content: center;
}

#get h1 {
  text-transform: uppercase;
  margin-bottom: 5vh;
  font-size: 3rem;
}

#get #download a img {
  width: 15em;
  margin: 0 0.5em;
}
/* about secion */
#about {
  justify-content: space-between;
}

#slogan {
  margin-top: 42vh;
}

#slogan h1 {
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

#slogan .light {
  font-weight: 300;
}

#about #about-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 1em;
}

#donate {
  padding: 1em 1.8em;
  margin-bottom: 1em;
  font-weight: 700;
  display: inline-block;
  border: 0.2em solid var(--grey);
  border-radius: 3rem;
}

#about #sociallinks {
  padding: 1.9em;
  display: flex;
  border: 0.2em solid var(--grey);
  border-radius: 3rem;
}

#about #sociallinks a img {
  width: 2em;
  max-width: 7vw;
  margin: 0 1em;
  height: auto;
  filter: invert() brightness(0.9);
}

#about #sociallinks a img:hover {
  transform: scale(1.2);
}
/* features */
#features #highlights {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

#features #highlights div {
  padding: 16px 32px;
  margin: 8px 12px;
  border: 0.3em solid var(--grey);
  border-radius: 3em;
}
/* faq */
#faq {
  min-height: 90vh;
}

#faq div {
  width: 90%;
  max-width: 1200px;
  margin: 0.5em 5%;
}

details {
  margin: 0.7em 0;
}

details summary {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border: 0.15em solid var(--grey);
  padding: 1.5em 2em;
  border-radius: 1.5em;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ p {
  animation: sweep 0.5s ease-in-out;
}

details p {
  font-size: 1.3rem;
  overflow-wrap: break-word;
  padding: 0 0.7em;
}
/* footer */
#footer {
  text-align: center;
}

#footer p {
  line-height: 1.5;
  color: var(--accent);
}

#footer p a {
  box-shadow: 0 1px var(--accent);
}
/* for mobile devices */
@media only screen and (max-width: 800px) {
  #header {
    justify-content: center;
    position: absolute;
  }

  #navbar {
    display: none;
  }

  #get #download {
    flex-direction: column;
    max-width: 90vw;
  }

  #get #download a img {
    height: 13vh;
    width: auto;
  }

  #features #highlights {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 800px) {
  .snap-scrolling {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .snap-scrolling > section {
    scroll-snap-align: start;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
    margin-right: 10px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
    margin-right: 0px;
  }
}
