@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

:root {
    --background: #161316;
    --accent: #FA9688;
    --text: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--accent);
  text-decoration: none;
}

#header {
  position: fixed;
  background-color: var(--background);
  width: 90vw;
  padding: 0 5vw;
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#brand {
  height: 7vh;
  width: auto;
}

#navbar a {
  color: var(--text);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 1rem;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* startpage */

#get #download {
  display: flex;
  justify-content: center;
}

#get h1 {
  text-transform: uppercase;
  margin-bottom: 5vh;
  font-size: 3rem;
}

#get #download a img {
  width: 12vw;
  margin: 0 0.5em;
}

/* about secion */

#about h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
  margin: 0;
}

.light {
  font-weight: 300;
}

/* faq */

#faq div {
  margin: 0 20vw;
  width: 60vw;
}

details {
  margin: 0.5em 0;
}

details p {
  font-size: 1.4rem;
  overflow-wrap: break-word;
  padding: 0 0.3em;
}

details>summary {
  list-style-type: none;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--text);
  padding: 0.5em;
  border-radius: 0.5em;
}

details>summary::-webkit-details-marker {
  display: none;
}

details>summary::before {
  content: '+ ';
}

details[open]>summary::before {
  content: '- ';
}

details[open]>summary {
  margin-bottom: 0.5rem;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}
