@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-300.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --background: #161316;
  --accent: #ffbbaa;
  --text: #ffffff;
  --grey: dimgrey;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text);
  letter-spacing: 0.06rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav > a:hover {
  border-bottom: 2px solid var(--accent);
}

p {
  line-height: 1.5;
}

.logo {
  width: 3rem;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

nav {
  display: flex;
  column-gap: 2.5rem;
}

nav a {
  color: var(--text);
  text-transform: uppercase;
  font-size: 1.5rem;
}

gh {
  width: 5rem;
}

section:not(:last-child) {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Start Page */
.download-links {
  display: flex;
  column-gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.download h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.download h2 {
  text-align: center;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.download-links img {
  width: 15rem;
}

/* About Section */
#about {
  padding-top: 6rem;
}

.slogan h1 {
  font-size: 4.2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.slogan .light {
  font-weight: 300;
}

.about-bottom {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.donate {
  padding: 1rem 1.5rem;
  font-weight: 700;
  border: 0.2rem solid var(--grey);
  border-radius: 3rem;
}

.social-links {
  padding: 1.3rem 2.5rem;
  display: flex;
  column-gap: 2.5rem;
  border: 0.2rem solid var(--grey);
  border-radius: 3rem;
}

.social-links img {
  width: 2rem;
  filter: invert() brightness(0.9);
}

.social-links img:hover {
  transform: scale(1.2);
}

/* Features Section */
.highlights {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}

.highlights article {
  width: 25%;
  padding: 0.5rem 1.8rem;
  border: 0.2rem solid var(--grey);
  border-radius: 3rem;
}

.highlights h2 {
  font-size: 1.4rem;
}

/* FAQ Section */
#faq {
  min-height: 90vh;
}

.faq {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-top: 5rem;
}

details summary {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border: 0.15em solid var(--grey);
  padding: 1.5rem 2.5rem;
  border-radius: 2rem;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open]:first-child {
  margin-top: 2rem;
}

details[open] summary ~ p {
  animation: sweep 0.5s ease-in-out;
}

details p {
  font-size: 1.3rem;
  overflow-wrap: break-word;
  padding: 0 1.5rem;
}

/* Footer */
.footer p {
  color: var(--accent);
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer a {
  text-decoration: underline;
}

@media only screen and (min-width: 800px) {
  .snap-scrolling {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .snap-scrolling section {
    scroll-snap-align: start;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
    margin-right: 10px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  header {
    justify-content: center;
    position: absolute;
  }

  nav {
    display: none;
  }

  .download-links {
    flex-direction: column;
    row-gap: 0.7rem;
  }

  .social-links {
    column-gap: 1.7rem;
  }

  .highlights {
    padding: 0;
    flex-direction: column;
    max-width: 90%;
  }

  .highlights article {
    width: fit-content;
  }

  .faq {
    min-width: 85%;
  }

  .footer {
    margin-top: 3rem;
  }
}
