---
import Heart from "../assets/icons/Heart.astro";
---

<a
  href="https://github.com/libre-tube/LibreTube#donate"
  class="donate"
  target="_blank"
  rel="noopener noreferrer"
>
  <Heart />
  Donate to LibreTube
</a>

<style>
  .donate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    font-weight: 700;
    border: 0.2rem solid var(--grey);
    border-radius: 3rem;
    color: var(--accent);
    text-decoration: none;
  }
</style>
