---

---

<footer>
  <p>
    Designed by <a href="https://github.com/XelXen/">XelXen</a> &amp;
    <a href="https://github.com/Bnyro/">Bnyro</a><br />
    Copyright &copy; <span id="year"></span>
  </p>
</footer>

<style>
  footer {
    padding: 1rem 0;
  }

  footer p {
    color: var(--accent);
    text-align: center;
    margin-bottom: 0.5rem;
  }

  footer a {
    text-decoration: underline;
  }

  @media screen and (max-width: 800px) {
    footer {
      margin-top: 3rem;
    }
  }
</style>
